<ons-toolbar class="toolbar" static="true" style="background-color: transparent;">
	<div class="left"><ons-back-button></ons-back-button></div>
	<div class="center">Editar caso</div>
    <div class="right">
    </div>
</ons-toolbar>
<ons-card style="margin-top: 50px;">
	<div class="content"><br/><br/>
	<input type="text" id="editcasotitulo" name="editcasotitulo" class="text-input text-input--material" placeholder="Título del caso" style="width:100%;" value="{{data.titulo}}"><br/><br/>
	<textarea id="editcasoresumen" name="editcasoresumen" class="textarea" style="width:100%;" rows="20" placeholder="Resumen del caso">{{data.resumen_del_caso}}</textarea><br/><br/><br/>
	<ons-button onclick="update_caso();" class="button" modifier="large">Editar el caso</ons-button>
    </div>
</ons-card>

<script type="text/javascript">
	function update_caso(){
		var url = "{{{productionServer}}}/api/global/update_caso";
		var titulo =  document.getElementById('editcasotitulo').value; 
        var resumen =  $('#editcasoresumen').val(); 
        var token = "{{data.token}}";

         var params_to_send = {
		  	titulo: titulo,
		  	token: token,
		  	resumen_del_caso: resumen
		  }

		 $.ajax({
		    url: url,
		    cache: true,
		    data: params_to_send,
		    method: 'POST',
		    success: function(data) {
		      ons.notification.alert(data.notice);
		      updateCasos(true);

		    },
		    error: function(err) {
		      callback(null, err);
		    }
		  });
	}
</script>