<ons-page>
	<ons-toolbar style="background-color: transparent;">
	 <div class="center"><b>Alertas</b></div>
    </ons-toolbar>
    <div id="load-notificaciones" >
    	 <center>
		   No se detectaron alertas activas
	     </center>
    </div>
</ons-page>
