.head-box{
	background: #fff;
	width: 100%;
	height: 200px;
}
.bluebox {
	background: #199bdb;
	width: 100%;
	padding: 0px;
	color: #fff;
	font-size: 9px;
	height: 400px;
}

.absolutebox{
	height: auto;
	padding: 3px;
	width: 95%;
	margin-top: 10px;
}
.plural-box{
	width: 33%;
	float: left;
}

.border-left-botton-solid{
	border-left: solid #fff 1px; 
	border-bottom: solid #fff 1px; 
}

.border-right-botton-solid{
	border-right: solid #fff 1px; 
	border-bottom: solid #fff 1px; 
}

.bottom-solid{
	border-bottom: solid #fff 1px; 
}

.right-solid{
	border-right: solid #fff 1px; 
}

.left-solid{
	border-left: solid #fff 1px; 
}