<div id="form-actividad">
<script type="text/javascript">
  setTimeout(function(){
  	$( "#datepickerfinal" ).datepicker();
  	$( "#datepickerinicio" ).datepicker();
  },1500);
</script>
<center>
<ons-card modifier="material modifier2" style="overflow:auto; min-height:300px; max-height: 3850px; ">
<div class="content">
	<input type="text" id="title" name="title" class="text-input text-input--material " placeholder="Título de la actividad" style="width:90%;"><br/><br/><br/>
	<input type="text" id="datepickerinicio" name="datepickerinicio" class="text-input text-input--material " placeholder="Fecha de inicio" style="width:90%;"><br/><br/><br/>
	<input type="text" id="datepickerfinal" name="datepickerfinal" class="text-input text-input--material " placeholder="Fecha de termino" style="width:90%;"><br/><br/><br/>
	<textarea id="description" name="description" class="textarea" style="width:90%;" placeholder="Descripcción de la actividad"></textarea><br/><br/>
	<ons-button class="button--cta" onclick="createToDo();" modifier="large">Crear Avtividad</ons-button>
</div>
</ons-card>
</center>
</div>
