html{
	font-family: 'Raleway' !important, sans-serif;
}

.hody{
	font-family: 'Raleway' !important, sans-serif;
}
.wrapper-home{
	height: 100%;
	overflow: hidden !important;
}
.head-box{
	background: #fff;
	width: 100%;
	height: 130px;
}

.bluebox {
	background: #199bdb;
	width: 100%;
	padding: 30px 0px 0px 0px;
	color: #fff;
	font-size: 9px;
	height: 1000px;
	margin-top: 40px;
}

.absolutebox{
	height: auto;
	padding: 3px;
	width: 95%;
	margin-top: 10px;
}
.plural-box{
	width: 33%;
	float: left;
}

.border-left-botton-solid{
	border-left: solid #ffffff5e 1px; 
	border-bottom: solid #ffffff5e 1px; 
}

.border-right-botton-solid{
	border-right: solid #ffffff5e 1px; 
	border-bottom: solid #ffffff5e 1px; 
}

.bottom-solid{
	border-bottom: solid #ffffff5e 1px; 
}

.right-solid{
	border-right: solid #ffffff5e 1px; 
}

.left-solid{
	border-left: solid #ffffff5e 1px; 
}

.uk-label {
    display: inline-block;
    padding: 5px 10px;
    background: #02b3e4;
    line-height: 1.7333;
    font-size: .866rem;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    margin: 3px;
}

.profile-header-name{
	color: #fff;
	margin-top: -175px;
	padding: 20px;
	font-weight: bold;
}

.profile-header-name h1{
	font-weight: bolder;
	padding-right: 30px;
	text-shadow: 2px 1px 3px #000;

}

.profile-menu{
	margin-top: -30px;
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	color: #fff !important;
	text-shadow: 2px 1px 3px #000;
	width: 100%;	
}
.profile-menu .button--quiet{
	color: #fff !important;
	font-size: 12px;
}

.wrapper-login{}

.list-search .list-item{
      border-bottom: 1px solid #f0f0f0;
      padding: 10px 0px 10px 10px;
}

.list-search .list-item__title{
      color:#199bdb;
      font-weight: bold;
}

.list--inset{
	margin: 0px;
}

.search-header-list{
	background-color: #199bdb;
	margin-top: 0px!important;
	height: 115px;
}

.search-toolbar-list{
	background-color: transparent!important;
}

.back-button__icon-list{
	color: #fff!important;
}

ons-list-header.search-header-list ons-search-input .search-input{
	margin-top: 5px !important;
	height: 40px;
	box-shadow: 0px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(209,209,209,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(209,209,209,0);
    box-shadow: 0px 0px 0px 0px rgba(209,209,209,0);

}

.left-serch-list{
	width: 10%;
	float: left;
}

.left-serch-list .back-button__icon{
	fill: #fff;
}

.tags-search-list{
	margin-top: 50px;
    width: 100%;
    height: 50px;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

.description-list{
	font-size: 10px;
	margin-top: 7px;
	line-height: 11px;
	padding-right: 35px;
	opacity: 1;
	text-align: justify-all;
}

.calification{
 	background-color: #88FA4F;
    color: #37474f;
    font-weight: bold;
    padding: 7px;
    position: absolute;
    left: 90%;
    top: 20px;
    font-size: 11px;
}

.calification-profile{
 	background-color: #88FA4F;
    color: #37474f;
    font-weight: bold;
    padding: 7px;
    position: relative;
    left: 92%;
    top: -50px;
    font-size: 11px;
}

.avatar-profile::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:1;}

  .special{
  	margin-top: 70px;
  	padding-left: 15px;
  }

  .specials{
  	border-bottom: 1px solid #f0f0f0;
  }

  .graph-me{
  	margin-top: 10px;
  	padding-left: 0px;
  	font-weight: bold;
  	margin-bottom: -10px;
  }

  .visita{
  	margin-top: -120px!important;
  	margin-bottom: -120px;
  }

  .list-not:nth-child(1){
  	background-color: #e0f6ff !important;
  }